body {
    background-color: rgb(253, 209, 151);
    font-family:sans-serif
}

div {
    text-align: center;
} 

.food {
    background-color: cornflowerblue;
    color: rgb(253,209,151);
    font-size: 40px;
}

#Potatoes {
    font-size: 50px;
}
img {
    height: auto;
    width: 600px;
}

